* {
  margin: 0;
  padding: 0;
}

body {
  transition: all 0.3s ease-in-out;
}

/*===========> main */

.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

/*==========> Header */
.header-cointainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*============> Calculator */
.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container {
  width: 400px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  background-color: white;
  border: 1rem solid white;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.grid-item {
  height: 100%;
  font-size: 2rem;
}
.item-screen {
  grid-column: 1 / -1;
  height: 80px;
  width: 100%;
  background-color: #282828;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
}
.previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
}
.current-operand {
  color: white;
  font-size: 1.5rem;
}

.operator-equal {
  grid-column-start: 4;
  grid-row-start: 3;
  grid-row-end: 7;
  height: 100%;
  width: 100%;
}

/*==================> Icons */
.uil {
  color: black;
}
.uil-moon {
  color: black;
}

/*=============> footer */
.footer-cointainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bt-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: 34px;
  height: 34px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-self: center;
}

.li-item {
  transition: 0.2s;
}
.li-item:hover {
  transform: scale(1.1);
}

/*====================> Dark Theme Changes */
body.dark-theme {
  background-color: #282828;
  color: beige;
}
body.dark-theme .uil {
  color: aliceblue;
}

body.dark-theme .grid-container {
  background-color: #343434;
  border: 1rem solid #343434;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}
body.dark-theme .item-screen {
  background-color: rgba(225, 255, 255, 0.2);
}

body.dark-theme .bt-circle {
  border: 1px solid #fff;
}

@media screen and (max-width: 460px) {
  .grid-item {
    font-size: 1.5rem;
  }
  .grid-container {
    height: 400px;
    width: 300px;
  }
  .footer-cointainer {
    margin: 0;
    justify-content: space-between;
  }
}
